@model IEnumerable<BOL.Question>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test Page</h2>
<form method="post">
    @{ var i = 1; }
    @foreach (var item in Model)
    {
        <div style="padding:20px">
            <div style="margin:10px;padding-bottom:10px">
                @Html.Encode("Question " + i++.ToString() + " : \n")
                @Html.DisplayFor(modelItem => item.QuestionString)
            </div><div style="margin:10px;padding-left:20px">
                <input type="radio">
                @Html.DisplayFor(modelItem => item.OptionOne)
            </div><div style="margin: 10px; padding-left: 20px">
                <input type="radio">
                @Html.DisplayFor(modelItem => item.OptionTwo)
            </div><div style="margin:10px;padding-left:20px">
                <input type="radio">
                @Html.DisplayFor(modelItem => item.OptionThree)
            </div><div style="margin:10px;padding-left:20px">
                <input type="radio">
                @Html.DisplayFor(modelItem => item.OptionFour)
            </div>

        </div>
    }
<div style="margin:50px;">
    <button type="submit" class="btn btn-primary">Submit Test</button>
    </div>
</form>
